<section id="members" class="home-section">
    <div class="container">

        <!-- Section heading -->
        <div class="row">
            <div class="col-xs-12 col-md-4 section-heading">
                <h1 class="section-heading"><a href="{{.Site.BaseURL}}/member/{{if .Site.Params.uglyURLs}}index.html{{end}}"> Leader </a></h1>
            </div>
        </div>

        <!-- Members -->
        <div>
            {{ range first 1 (sort (where .Site.RegularPages "Type" "leader") ".Params.sort_position")}}
                {{ if not .Params.is_former_member }}
                    {{ partial "leader_simple" . }}
                {{ end }}
            {{ end }}
        </div>
    </div>
</section>
